<form [formGroup]="bookForm" (ngSubmit)="onSubmit(bookForm.value)">
  <input id="id" type="hidden" formControlName="id">
  <div class="card">
    <div class="card-header">
      Tất cả sách
    </div>
    <div class="card-body p-3">
      <div>
        <div class="form-group">
          <label for="name">
            Tên sách
          </label>
          <input id="name" type="text" formControlName="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="year">
            Năm xuất bản
          </label>
          <input id="year" type="number" formControlName="year" class="form-control">
        </div>

        <div class="form-group">
          <label for="author">
            Tác giả
          </label>
          <input id="author" type="text" formControlName="author" class="form-control">
        </div>

        <div class="form-group">
          <label for="publishDate">
            Ngày xuất bản
          </label>
          <input id="publishDate" type="date" formControlName="publishDate" class="form-control" useValueAsDate>
        </div>

        <div class="form-group">
          <label for="description">
            Mô tả
          </label>
          <textarea id="description" type="text" formControlName="description" class="form-control"> </textarea>
        </div>

      </div>
    </div>
    <div class="card-footer text-muted">
      <button class="btn btn-primary" type="submit">Lưu thay đổi</button>
    </div>
  </div>


</form>


